amqp==5.1.1
asgiref==3.5.2
celery==5.2.7
Django==4.0.4
django-crispy-forms==1.14.0
mysql-connector-python @ http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip
mysqlclient==2.1.0
netifaces==0.11.0
oauthlib==3.2.0
Pillow==9.1.1
ptyprocess==0.7.0
pycparser==2.21
PyJWT==2.4.0
pymacaroons==0.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
PyYAML==6.0

